@model EmailDemo.ViewModels.UserRoleVM

@{
    ViewData["Title"] = "Remove User Role";
}

<h1>Remove User Role</h1>
<hr />

<h4 class="text-danger" style="padding-top: 30px; padding-bottom: 10px;">
    <span>Are you sure you want to delete the</span>
    <strong>@Model.RoleName</strong> role from
    <strong>@Model.Email</strong>?
</h4>

<div class="row">
    <div class="col-md-3">
        <form asp-action="DeleteConfirmed" method="post">
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="RoleName" />

            <div class="form-group mb-3">
                <label class="form-label">User Email:</label>
                <input asp-for="Email" class="form-control" disabled />
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Role Name:</label>
                <input asp-for="RoleName" class="form-control" disabled />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-danger">
                    Confirm Remove Role
                </button>
                <a asp-action="Detail" asp-route-userName="@Model.Email"
                   class="btn btn-secondary">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

